img{
	width: 400px;
}
.filme{
	border-radius: 10px;
	padding: 50px;
	background-color: #363636;
	margin: 50px;
}
body{
	width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	background-color: #000;
	font-family: sans-serif;
}
h3{
	clear: both;
}

ul{
	list-style: none;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  content: "\2605";
  position: absolute;
}
.fa{
 color: yellow;
}