img{
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	clear: both;
}
.filme h1{
	color: red;
	font-family: 'Oswald', sans-serif;
}
.filme{
	border-radius: 10px;
	padding: 20px;
	background-color: transparent;
	margin: 5% 3%;
	border: 3px solid #FFF;
	transition: 0.5s;
	width: 40%;
	float: left;
}
.filme:hover {
	border: 3px solid red;
	background-color: rgba(54,54,54,0.5);
	box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
body{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	background: url(https://cdn.pixabay.com/photo/2017/08/05/15/00/auditorium-2584269_960_720.jpg) no-repeat fixed;
	font-family: sans-serif;
	background-size: 100%;

}
h2{
	clear: both;
	color: red;
	font-family: 'Oswald', sans-serif;
}

ul{
	list-style: none;
	padding: 0;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  content: "\2605";
  position: absolute;
}
.fa{
 	color: yellow;
}
.logo h1{
	color: red;
	margin: 0;
	font-size: 7em;
	padding: 20px;
	font-family: 'Oswald', sans-serif;
	transition: 1s;
}
.logo h1:hover{
	font-size: 9em;
	text-shadow: 0 6px 10px 0 rgba(255, 0, 0, 0.2), 0 6px 10px 0 rgba(255, 0, 0, 0.19);
	font-family: 'Oswald', sans-serif;
}
.av h2, .ts h2{
	color: red;
	font-family: 'Oswald', sans-serif;
}

.classifi{
	width: 50%;
	margin: 0 auto;
	transition: 0.5s;
}
.classifi:hover{
	width: 60%;
	padding: 5px;
	box-shadow: 0 4px 10px 0 rgba(255, 0, 0, 0.2), 0 6px 10px 0 rgba(255, 0, 0, 0.19);
	background-color: rgba(32,0,0,0.19);
}
.descricao{
	display: none;
}

.filme:hover .descricao{
	display: block;
	transition: 0.5s;
}
.filme:hover img{
 	width: 100%;
 	transition: 0.5s;
 }
